.main-content-games{
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;

    .content-games-header {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
        color: #FFF;
        font: 500 45px "Rubik", sans-serif;
    }

    .games-content{
        margin-top:15px;
        font-size:24px;
        color: #FFF;
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 120px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 8px;     
            margin-top: 10px;         
          }
          
        &::-webkit-scrollbar-track {
            background: #737373;      
          }
          
        &::-webkit-scrollbar-thumb {
            background-color: #121214;   
            border-radius: 20px;   
          }
    
    }
   

}