* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #121214;
}

h1 {
  font-size: 45px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 34px;
}

body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #17171b;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #737373;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid #17171b;
  /* creates padding around scroll thumb */
}

@media  screen and (max-width:800px){
  h1 {
    font-size: 40px;
  }
  
  h2{
    font-size: 35px;
  }
  
  h3{
    font-size: 20px;
  }
  
  p {
    font-size: 17px;
    line-height: 34px;
  }
}

@media  screen and (max-width:425px){
  h1 {
    font-size: 35px;
  }
  
  h2{
    font-size: 30px;
  }
  
  h3{
    font-size: 18px;
  }
  
  p {
    font-size: 15px;
    line-height: 24px;
  }
}
