.main-content{
    margin-top: 150px;
    margin-left: 40px;

    .title-aboutUs{
        color: #FFF;
        font: 500 45px "Rubik", sans-serif;
    }

    .about-content{
        margin-top:15px;
        font-size:24px;
        color: #fff;
    }
    
}

.siteHeader{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #121214;
    border-bottom: 1px solid #737373;

    

    .right-content{
        display: flex;
        gap: 18px;
        color: #fff;

        .game-link{
            cursor: pointer;
            
            &:hover{
                text-decoration: underline;
            }
        }

        .founder-link{
            cursor: pointer;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
    

    img{
        max-width: 150px;
    }


    .discordButton{
        background-color: #E50914;
        padding:12px 20px;
        color: #fff;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.4s;
        
        &:hover{
            filter: brightness(1.2)
        }
    }
    
}
.qualities-list{
    margin-top: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
    margin-right: 40px;
    margin-left: 40px;

.qualities{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #121214;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    

    img{
        max-width: 120px;
    }

    .qualitiesTitle{
        color: black;
        font: 500 20px "Rubik", sans-serif;
        margin-top: 10px;
        color: #fff;

    }

    .qualitiesText{
        color: black;
        margin-left: 20px;
        margin-right: 10px;
        font: 500 20px "Rubik", sans-serif;
        margin-top: 20px;
        color: #737373;

    }
}
}

.opinions-list{
    margin-top: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
    margin-right: 40px;

    .title-op{
        color: #fff;
        font: 500 45px "Rubik", sans-serif;
        margin-left: 40px;
        
    }


    .op-content{
        background-color: #121214;
        width: 300px;
        height:300px;
        border-radius:10px;
        
        
    }

    .opinions-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .opinionsText{
        margin-left: 10px;
        margin-right: 10px;
        font: 500 20px "Rubik", sans-serif;
        color: #fff;
    }

    .opinionsName{
        margin-left: 10px;
        margin-right: 10px;
        font: 500 20px "Rubik", sans-serif;
        color: #E50914;
        margin-top: 15px;
        
    }
    
    img{
        max-width: 120px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-top: 20px;
        border: 2px solid #121214;

    }
   
   
}

.discord-content{
    margin-top: 150px;
    font: 400 24px "Roboto", sans-serif;
    text-align: center;
    min-height: 350px;
 
    h2{
     font: 500 45px "Rubik", sans-serif;
     color: #fff;
    }
 
    img{
        max-width:150px;
        border-radius:50%;
    }
 
    .discord-img{
        margin-top: 20px;
    }
 
    .discord-message{
        color: #737373;
        margin-top:2px;
    }
 
    .discord-link{
        color: #E50914;
        text-decoration: none;
        font: 500 20px "Rubik", sans-serif;
 
        &:hover{
         text-decoration: underline;
     }
    }
 }
