.game-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #121214;
    height: 300px;
    width: 250px;
    border-radius: 10px;

    .game-image{
        max-width: 120px;
        border-radius: 10px;
    }

    .game-title{
        color: black;
        font: 500 20px "Rubik", sans-serif;
        margin-top: 10px;
        color: #fff;

    }

    .game-description{
        color: black;
        margin-left: 20px;
        margin-right: 10px;
        font: 500 20px "Rubik", sans-serif;
        margin-top: 20px;
        color: #737373;

    }
}
