.second-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
    background-color: #121214;

    .about-container {
        width: 100%;
        display: flex;
        gap: 10%;
        flex-direction: row;
        align-items: center;

        .svg-img {
            max-width: 400px;
        }

        h2 {
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 30px;

        }

        .about-text-content p {
            width: 100%;
            font-size: 20px;
        }

    }
}



#aboutIsntVisible {
    opacity: 0;
}

#aboutIsVisible {
    opacity: 1;
    transition: 1.5s ease-in-out;
}

@media screen and (max-width: 990px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }

    .about-container img {
        order: -1;
        max-width: 200px;
    }

    .about-text-content {
        text-align: center;
    }

}

@media screen and (max-width: 559px) {
    .second-container {
        padding: 64px 60px;
    }
}

@media screen and (max-width: 425px) {


    .about-container img {
        max-width: 160px;
    }

}

@media screen and (max-width: 320px) {
    .second-container {
        padding: 40px 60px;
    }

    .about-container img {
        max-width: 120px;
    }

}