.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
    background-color: #121214;

    .about-container {
        width: 100%;
        display: flex;
        gap: 10%;
        flex-direction: row;
        align-items: center;

        .svg-img {
            max-width: 400px;
        }

        h2 {
            margin-bottom: 30px;
        }

        .about-text-content p {
            width: 100%;
        }

    }
}



#aboutIsntVisible {
    opacity: 0;
}

#aboutIsVisible {
    opacity: 1;
    transition: 1.5s ease-in-out;
}

@media screen and (max-width: 990px) {
    .about .about-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }
    .about .about-container .about-text-content {
        text-align: center;
    }
}


@media screen and (max-width: 559px) {
    .about{
        padding: 64px 60px;
    }

    .about .about-container .svg-img{
        max-width: 300px;
    }
}

@media screen and (max-width: 425px) {

    .about .about-container .svg-img{
        max-width: 250px;
    }

}

@media screen and (max-width: 320px) {
    .about {
        padding: 40px 60px;
    }

    .about .about-container .svg-img{
        max-width: 200px;
    }

}