.qualities {
    width: 100%;
    padding: 100px 60px;
    background-color: #181818;

    h2 {
        text-align: center;
    }

    .qualities-container {
        display: grid;
        place-items: center center;
    }

    .qualities-list {
        grid-gap: 32px;
        gap: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 60px;

        .card {
            background-color: #121214;
            border-radius: 10px;
            padding: 10px 15px;


            svg {
                fill: #925DF6;
                display: block;
                border-radius: 5px;
            }

            .description h3 {
                color: #fff;
                margin: 8px 0 12px 0;
            }

        }
    }

}


#qualitiesIsntVisible {
    opacity: 0;
}

#qualitiesIsVisible {
    opacity: 1;
    transition: 1.5s ease-in-out;
}

@media screen and (max-width:720px){
    .qualities .qualities-container .qualities-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}