.background-image-content {
    height: 110vh;

    .home-container {
        margin-top: 40px;
        width: 100%;
        padding: 0 60px;
    }

    .home-title {
        text-align: center;
    }

    .freepikLink {
        position: absolute;
        right: 0;
        bottom: 0px;
        color: #fff;
    }

}

@media screen and (max-width:375px) {
    .background-image-content .home-container {
        margin-top: 28px;
    }
}